<div class="center">
	<h1>WeRead</h1>
	<h3>Engaging Students in Reading Assignments and Discussion</h3>

	
	<%= link_to 'Create New Reading Assginment', new_assignment_path, class: 'btn btn-primary btn-lg' %>
</div>