<div class="center">
	<h1>Create a New Reading Assignment</h1>
<!-- 
Rails Bootstrap Forms
gem 'bootstrap_form'
https://github.com/bootstrap-ruby/rails-bootstrap-forms
-->

<%= render 'assignments/form' %>
</div>