@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

h3 {
  color: #777;
  padding-bottom: 20px;
}

.center {
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  padding-top: 9px;
  font-weight: bold;
}

#moto {
	color: #337ab7;
	padding-top: 19px;
}

.errormsg {
  text-align: left;
  color: #d9534f;
  background-color: #f3cbca;
  padding: 10px;
}